<%- include('components/head') -%>
<body>
  <div class="wrapper">
    <%- include('components/header') -%>
    <main class="main">
      <div class="main__container">
        <div class="main__login">
          <h2>Log In</h2>
          <form id="loginForm">
            <label>
              Username:
              <input type="text" name="username" placeholder="Username" />
            </label>
            <label>
              Password:
              <input type="password" name="password" placeholder="Password" />
            </label>
            <button type="submit" class="btn">LogIn</button>
          </form>
        </div>
      </div>
    </main>
  </div>
</body>
