<%- include('components/head') -%>
<body>
  <div class="wrapper">
    <%- include('components/header') -%>
    <main class="main">
      <div class="main__container">
        <div class="main__register">
          <h2>Create Account</h2>
          <form id="registerForm" action="/api/user" method="post">
            <label
              >Username:
              <input name="username" type="text" placeholder="Username"
            /></label>
            <label
              >Email: <input name="email" type="email" placeholder="Email"
            /></label>
            <label
              >Password:
              <input name="password" type="password" placeholder="Password"
            /></label>
            <label
              >Confirm Password:
              <input
                name="confirmation"
                type="password"
                placeholder="Confirm password"
            /></label>
            <button type="submit" class="btn">Sign Up</button>
          </form>
        </div>
      </div>
    </main>
  </div>
</body>
