<%- include('components/head') -%>
<body>
  <div class="wrapper">
    <%- include('components/header') -%>
    <div class="main">
      <div class="main__container">
        <div class="main__create-note">
          <h2>Write a Blog</h2>
          <form id="noteForm" data-id="<%= id || '' %>" action="/api/blog" method="POST">
            <label>
              Title:
              <input type="text" name="title" placeholder="Title"  />
            </label>
            <label>
              Content:
              <textarea
                type="text"
                name="content"
                placeholder="Content"
              ></textarea>
            </label>
            <label>
              Tags:
              <input type="text" name="tags" placeholder="Tags"  />
            </label>
            <button type="submit" class="btn" >Save</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>