.main {
    .main_btns {
        display: flex;
        gap: 2rem;
        justify-content: center;
    }
    .main__cards {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        .main__show-all {
            cursor: pointer;
        }
    }
}
.blogs-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    li {
        border: 0.1rem solid var(--accent-color);
        border-radius: 1rem;
        padding: 1rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        .main__content {
            height: 10rem;
            padding: 1rem;
            overflow: scroll;
            flex-grow: 1;
        }
        .main__tags {
            display: flex;
            flex-wrap: wrap;
            gap: 0.5rem;
        }
    }
    h4 {
        font-size: 2rem;
        text-align: center;
        border-bottom: 0.1rem solid var(--accent-color);
        padding: 0.5rem;
    }
}
.card-btn {
    color: var(--text-color);
    border: 0.1rem solid hsl(0, 0%, 100%, 0.3);
    border-radius: 0.5rem;
    padding: 0.5rem 2rem;
    background: hsl(0, 0%, 100%, 0.1);
    width: 7rem;
}
.main__likes {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
}
.like-btn {
    color: var(--text-color);
}
.liked {
    color: var(--accent-color);
}
