.main {
    .main_btns {
        display: flex;
        gap: 2rem;
        justify-content: center;
    }

    .main__container {
    }

    .main__cards-block {
    }

    .main__cards {
    }

    .main__content {
    }

    .main__tags {
    }
}
.blogs-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    /* align-content: center;
    justify-items: center; */
    li{
        border: 0.1rem solid whitesmoke;
        border-radius: 1rem;
        padding: 1rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        .main__content{
            height: 10rem;
            padding: 1rem;
            overflow: scroll;
            flex-grow: 1;
        }
        .main__tags{
            display: flex;
            flex-wrap: wrap;
            gap: 0.5rem;
        }
        .main__date{
            align-self: end;
        }
    }
    h4{
        font-size: 2rem;
        text-align: center;
        border-bottom: 0.1rem solid whitesmoke;
        padding: 0.5rem;
    }
}
.editBlog {
}
.card-btn {
    color: whitesmoke;
    border: 0.1rem solid hsl(0, 0%, 100%, 0.3);
    border-radius: 0.5rem;
    padding: 0.5rem 2rem;
    background: hsl(0, 0%, 100%, 0.1);
    width: 7rem;
}
.deletBlog {
    color: red;
}
