.main__change-psw {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
    border: 0.1rem solid hsl(0, 0%, 100%, 0.3);
    border-radius: 1.5rem;
    background: hsl(0, 0%, 100%, 0.1);
    backdrop-filter: blur(0.125rem);
    box-shadow: inset 0 0 0.5rem 0.06rem hsl(0, 0%, 100%, 0.2);
    text-shadow: 0 0 8px rgba(46, 46, 46, 0.7);
    color: whitesmoke;
    font-weight: 500;
}
