.header__container {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;

    .header__navigation {
    }

    .header__logo {
        font-size: 1.5rem;
    }

    .header__search {
        display: flex;
        align-items: center;
        justify-content: center;
        /* padding: 1rem; */
        input{
            margin-top: 0;
        }
    }

    .header__write {
    }

    .header__profile {
       
    }
}
.nav {
    .nav__logo {
    }

    .nav__list {
    }
}
.profile {
    .profile__photo {
        min-width: 3rem;
        min-height: 3rem;
        border-radius: 50%;
        border: 0.1rem solid whitesmoke;
        text-align: center;
        padding: 1rem;
    }
}
