.header__container {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;

    .header__navigation {
    }

    .header__logo {
        font-size: 1.5rem;
        color: var(--accent-color);
    }

    .header__search {
        display: flex;
        align-items: center;
        justify-content: center;
        /* padding: 1rem; */
        input {
            margin-top: 0;
        }
    }

    .header__write-content {
        display: flex;
        gap: 1rem;
        align-items: center;
    }
    .write-icon {
        font-size: 1.5rem;
        color: var(--accent-color);
    }

    .header__profile {
    }
}
.nav {
    .nav__logo {
    }

    .nav__list {
    }
}
.profile {
    .profile__photo {
        min-width: 3rem;
        min-height: 3rem;
        border-radius: 50%;
        border: 0.1rem solid var(--accent-color);
        text-align: center;
        padding: 1rem;
    }
}
.search-box{
    position: relative;
    min-width: 15rem;
    input::placeholder{
        padding-left: 1.5rem;
    }
}
.search-icon{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0.5rem;
}
