.wrapper {
}
.main {
    .main__container {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    .main__show-all {
    }
    .main__hero {
        display: flex;
        gap: 1rem;
        justify-content: space-between;
    }
    .main__post {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        flex-basis: 80%;
/* justify-content: space-between; */
align-items: center;
    }
    .main__picture {
    }
    .main__title {
    }
    .main__featured {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        ul{
            display: flex;
            flex-direction: column;
            gap: 1rem;
            li{
                display: flex;
                gap: 1rem;
                p{
                    border-left: 0.1rem solid whitesmoke;
                }
            }
        }
    }

    .main__subtitle {
    }
}
