.wrapper {
}
.main {
    .main__container {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    .main__show-all {
    }
    .main__hero {
        display: flex;
        gap: 3rem;
        justify-content: space-between;
    }
    .main__post {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        flex-basis: 80%;
/* justify-content: space-between; */
align-items: center;
    }
    .main__picture {
    }
    .main__title {
        font-size: 2rem;
        text-align: center;
    }
    .main__featured {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        h2{
            border-bottom: 0.1rem solid var(--accent-color);
            padding: 0.5rem;
        }
        ul{
            display: flex;
            flex-direction: column;
            gap: 1rem;
            li{
                display: flex;
                gap: 1rem;
                p{
                    flex-shrink: 0;
                    border-right: 0.1rem solid var(--accent-color);
                    padding: 0.5rem;
                    align-self: center;
                }
            }
        }
    }

    .main__subtitle {
    }
    .main__categories{
        display: flex;
        justify-content: center;
        gap: 1rem;
        flex-wrap: wrap;
        li{
           padding: 1rem;
        border: 0.1rem solid var(--accent-color); 
        min-width: 10rem;
        border-radius: 1rem;
        text-align: center;
        }
        
		}
 .main__tags{
		}
}
.category {
}


