/* profile styles */

.main__profile-content{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: center;
    align-items: center;
}
.main__profile-list{
    /* align-self: flex-start; */
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.main__profiles-btns {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .profileBtn {
        width: 100%;
        max-width: 30rem;
    }
    .delete-profile {
        color: red;
    }
}