<header class="header">
  <div class="header__container">
    <!-- <nav class="header__navigation nav">
      <div class="nav__logo">NanoByte</div>
      <ul class="nav__list">
        <li><a href="/">Home</a></li>
        <li><a href="/library">Library</a></li>
        <li><a href="/profile">Profile</a></li>
      </ul>
    </nav> -->
    <section class="header__logo">
      <!-- DevByte -->
      <!-- TechNibbles -->
      <!-- CodeAtom -->
      <a href="../blogs">NanoByte</a>
      <!-- Bitwise -->
      <!-- ByteSyntax -->
    </section>
    <section class="header__search">
      <input type="text" placeholder="Search" />
    </section>
    <section class="header__write">
      <a href="../write-blog">Write</a>
    </section>
    <section class="header__profile profile">
      <a href="../profile" class="profile__photo"></a>
    </section>
  </div>
</header>
