<header class="header">
  <div class="header__container">
    <p id="message"></p>
    <!-- <nav class="header__navigation nav">
      <div class="nav__logo">NanoByte</div>
      <ul class="nav__list">
        <li><a href="/">Home</a></li>
        <li><a href="/library">Library</a></li>
        <li><a href="/profile">Profile</a></li>
      </ul>
    </nav> -->
    <section class="header__logo">
      <!-- DevByte -->
      <!-- TechNibbles -->
      <!-- CodeAtom -->
      <a href="/">NanoByte</a>
      <!-- Bitwise -->
      <!-- ByteSyntax -->
    </section>
    <section class="header__search">
      <form id="searchForm">
        <div class="search-box">
          <input  type="text" name="query" placeholder="Search" />
          <i class="fa-solid fa-magnifying-glass search-icon"></i>
        </div >
        <!-- <button type="submit">Search</button> -->
      </form>
    </section>
    <section class="header__write">
      <a href="../write-blog" class="header__write-content"><i class="fa-regular fa-pen-to-square write-icon"></i><span>Write</span></a>
    </section>
    <section class="header__profile profile">
      <% if (user) { %>
      <a href="../profile" class="profile__photo"><%= user.username[0] %></a>
      <% } else { %>
        <a href="../login">LogIn</a> / <a href="../register">SignUp</a>
        <% } %>
    </section>
  </div>
</header>
